

.profile-card{
    width: 375px;
    border-radius: 1em;
    line-height: 1.6;
    background-color: var(--Dark-blue);
}

/* Profile Header */

.profile-header{
    padding: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    
    background-color: hsl(246, 80%, 60%);
    
}

.profile-header > *{
    margin: 0 10px;
    color: var(--Pale-Blue);
}

.profile-header img{
    width: 70px;
    border-radius: 50%;
    outline: 2px solid white;
}

.name-text{
    display: block;
    font-size: 2em;
    color: white;
}

/* Timeframes */

.timeframes {
    text-transform: capitalize;
    color: hsl(235, 45%, 61%);
    text-decoration: none;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    
}

.timeframes a{
    transition: color ease-in 0.2s;
}

.timeframes a:hover{
    color: white;
    cursor: pointer;
}