.App{
  padding: 5em 0;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-flow: column nowrap;
  overflow: auto;
  background-color: hsl(226, 43%, 10%);
}

.grid-container{
  height: min-content;
  grid-template-rows: repeat(7, auto);
  justify-content: center;
  align-items: center;
  width: 400px;
  gap: 1em;

}