.App{
  padding: 5em 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-flow: row nowrap;
  
  
}

.grid-container{
  height: min-content;
  grid-template-rows: repeat(7, auto);
  justify-content: center;
  align-items: center;
  
  gap: 1em;

}


@media (min-width: 1440px) {
  .App{
    height: 100vh;
  }

  .grid-container{
    
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    width: 1200px;
    height: 500px;
  }

  .grid-container > *:nth-child(1) {
    grid-area: 1/1/ span 2/1;
    
  }
  .grid-container > *:nth-child(2) {
    
  }
  .grid-container > *:nth-child(3) {
    
  }
  .grid-container > *:nth-child(4) {
    
  }
  .grid-container > *:nth-child(5) {
    
  }
  .grid-container > *:nth-child(6) {
   
  }
  .grid-container > *:nth-child(7) {
    
  }
}