body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: hsl(226, 43%, 10%);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p{
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
  display: block;
}

